

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

{{ form_start(formFilm)}}
{{ form_widget(formFilm)}}
<button type="submit"> Valider </button>
{{ form_end(formFilm)}}

<script>
$(document).ready(function() {
    $('#film_acteurs').select2();
});
</script>