{% extends 'template.html.twig' %}

{% block title %} Ajouter un film {{ parent()}} {% endblock %} 

{% block css %} 
{# css de slect 2#}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block main %} 
<div class="container">
  <div class="row">
    <div class="offset-3 col-6 my-5">
        <h1>Modifier</h1>
        {{ form_start(formFilm)}}
        {{ form_widget(formFilm)}}
        <button type="submit" class="btn btn-success"> modifier </button>
        {{ form_end(formFilm)}}

    </div>
  </div>
</div>
   
{% endblock %}

{% block js %}
{# cdn js slect2 #}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
$(document).ready(function() {
    $('#film_acteurs').select2();
});
</script>
{% endblock %}